@media only screen and (min-width:300px){
    .article{
        background-color: $blue;
        border-radius: .5rem;
        padding: 1.225em 4em;
        text-align: center;
        box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.25);
        
        margin-bottom: 1.5rem;
        &__heading{
            font-size: 1em;
            font-weight: 400;
            &--bold{
                font-weight: bold;
            }
        }
    }
}


@media only screen and (min-width:1024px){
    .article{
        width: 80%;
        height: 60px;
        align-self: end;
        padding: 0;
        display: grid;
        place-items: center center;
    }
}