@media only screen and (min-width:300px){
    .footer{
        text-align: center;
        font-size: .7rem;
        padding: 0 6em;
        &__link{
            text-decoration: none;
            color: $blue;
        }
    }
}

@media only screen and (min-width:1024px){
    .footer{
        font-size: 1rem;
    }
}