@media only screen and (min-width:300px){
    .form{
        background-color: white;
        padding: 1.5em;
        border-radius: .5rem;
        box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.25);

        margin-bottom: 1rem;

        &__input, &__button , &__paragraph{
            margin-bottom: 20px;
        } 
        &__list{
            list-style: none;
        }
        &__item{
            display: block;
            position: relative;
        }
        &__input{
            width: 100%;
            height: 50px;

            border: 1px solid $grayish_blue;
            border-radius: .25rem;

            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            padding-left: 1em;

            transition: all 250ms ease;
            // removes the default input field error red glow
            &:invalid{
                box-shadow: none;
            }
        }
        &__button{
            width: 100%;
            height: 50px;

            border:none;
            border-radius: .25rem;
            box-shadow: 0px 5px 0px 0px #31B97F;
            background-color: $green;
            color: white;

            font-family: 'Poppins', sans-serif;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1em;
            letter-spacing: .1em;
            // the active is for mobile to have some visual responsivnes
            cursor: pointer;
            &:hover, &:active{
                opacity: 0.7;
            }
        }
        &__paragraph{
            color: $grayish_blue;
            font-size: .65rem;
            font-weight: 500;
            text-align: center;
            padding: 0 2em;

            a{
                text-decoration: none;
                color: $red;
                font-weight: bold;
            }
        }
        &__error_text, &__error_text_email,&__error_icon{
            position: absolute;
            color: $red;
            z-index: 100;
            top: 60px;
            right: 0;
            font-style: italic;
            font-size: .8rem;
            opacity: 0;

            transition: all 250ms ease;
        }
        &__error_icon{
            right: 40px;
            top: 14px;
        }
    }
}


@media only screen and (min-width:1024px){
    .form{
        width: 80%;
        max-height: 550px;
        padding: 2.5em;
        &__list{
            height: 100%;
        }
        &__input{
            height: 55px;
            margin-bottom: 40px;
        }
        &__paragraph{
            font-size: .75rem;
        }
        &__error_text, &__error_text_email{
            top: 60px;
            right: 0;

        }
    }
}


.input_error{
    border-color: $red;
    margin-bottom: 45px;
}